.cell {
  min-width: 12em;
  min-height: 12em;
  max-width: 20em;
  max-height: 20em;
  border-radius: 1em;
  border: solid #272727 7px;
  cursor: pointer;
}

.footer {
  height: 3.5rem;
}

.ticTacIcon {
  display: flex;
  width: 9em;
  height: 9em;
  opacity: 0.7;
}

.iconP1 {
  color: #FF0000;
}

.iconP2 {
  color: #0091FF;
}

.player1Color {
  background-color: #FF0000;
}

.player2Color {
  background-color: #0091FF;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  border: 1px solid #272727;
  background: #2a333e;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-track {
  background: #101010;
  box-shadow: inset 0 0 5px #1c1212;
}